* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  display: flex;

  background-color: rgb(44, 43, 43);
  width: 70%;
  height: 70vh;
  border-radius: 10px;
}
.header-txt {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 70px;
}
.header-txt h1 {
  font-size: 45px;
  font-weight: 800;
}
.header-txt button {
  padding: 15px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  background-color: rgb(250, 54, 54);
  color: white;
}

.header-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  padding: 0px 50px;
}
