/* universal selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* header start here  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  display: flex;
  background-color: rgb(44, 43, 43);
  width: 70%;
  height: 70vh;
  border-radius: 10px;
}
.header-txt {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 70px;
}
.header-txt h1 {
  font-size: 45px;
  font-weight: 800;
}
.header-txt button {
  padding: 15px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  background-color: rgb(250, 54, 54);
  color: white;
}

.header-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  padding: 0px 50px;
}

/* main body start here */

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.main-container {
  display: flex;
  width: 70%;
  gap: 20px;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(46, 45, 45);
  height: 300px;
  width: 30%;
  border-radius: 20px;
  padding: 20px;
  font-weight: 600;
}
.left-side > .match {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
.left-side > .group {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
.left-side > .blog {
  background-color: rgb(255, 37, 37);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}

.right-side {
  height: 100%;
  width: 70%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  height: 320px;
  border: 1px solid gray;
  border-radius: 9px;
}
.card > img {
  width: 100%;
  height: 60%;
}

.card button {
  margin-bottom: 4px;
  padding: 6px;
  border: 0.8px solid gray;
  border-radius: 5px;
}
.card > .card-txt {
  padding: 10px;
}
.card > .card-txt > p {
  padding: 10px 0px;
}

/* footer section start here  */
footer {
  height: 350px;
  width: 100%;
  background-color: rgb(44, 43, 43);
  color: white;
  padding: 100px 100px;
}
footer > h1 {
  text-align: center;
  margin-bottom: 30px;
}
footer > hr {
  margin: 50px 90px;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 35px;
}
