/* universal selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* header start here  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  display: flex;
  background-color: rgb(44, 43, 43);
  width: 70%;
  height: 70vh;
  border-radius: 10px;
}
.header-txt {
  height: 100%;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 70px;
}
.header-txt h3 {
  font-size: 35px;
  font-weight: 800;
}
.header-txt button {
  padding: 15px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  background-color: rgb(250, 54, 54);
  color: white;
}

.header-img {
  width: 50%;
  height: 100%;
  padding: 20px;
}
.header-img > img {
  width: 300px;
  height: 80%;
  object-fit: cover;
}
/* main body start here */

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.main-container {
  display: flex;
  width: 70%;
  gap: 20px;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(46, 45, 45);
  height: 300px;
  width: 30%;
  border-radius: 20px;
  padding: 20px;
  font-weight: 600;
}
.left-side > .match {
  background-color: rgb(255, 37, 37);
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
.left-side > .match > a {
  text-decoration: none;
  color: white;
}
.left-side > .group {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
.left-side > .blog {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
.left-side > .blog > a {
  text-decoration: none;
  color: black;
}
.right-side {
  height: 100%;
  width: 70%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  display: flex;
  height: auto;
  flex-direction: column;
  border: 0.6px solid black;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
}
.card-txt {
  text-align: center;
}
.card-txt > p {
  font-size: 15px;
  padding-top: 5px;
}
.card-top {
  display: flex;
  align-items: center;
}
.card-top > .flag {
  padding: 8px;
}
.card-top > .flag > img {
  height: 40px;
  width: 55px;
}

.btn {
  visibility: hidden;
}
.btn > button {
  background-color: crimson;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  color: white;
}
/* footer section start here  */
footer {
  height: 350px;
  width: 100%;
  background-color: rgb(44, 43, 43);
  color: white;
  padding: 100px 100px;
}
footer > h1 {
  text-align: center;
  margin-bottom: 30px;
}
footer > hr {
  margin: 50px 90px;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.social-icons {
  visibility: hidden;
}
/* media queries start here */

/* for tablet devices */
@media only screen and (max-width: 1142px) {
  .header-txt h3 {
    font-size: 28px;
    font-weight: 700;
  }
  .header-txt button {
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(250, 54, 54);
    color: white;
  }
  .header-img > img {
    width: 250px;
    height: 75%;
    object-fit: cover;
   
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .left-side {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 45, 45);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  .right-side {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 150px;
    border: 1px solid gray;
    border-radius: 14px;
  }

  .btn {
    visibility: visible;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
  }
  .social-icons {
    visibility: hidden;
  }
}

/* for mobile device */

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 43, 43);
    align-items: center;
    height: 80vh;
  }
  .header-txt {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
  }
  .header-txt h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .header-txt button {
    padding: 15px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(250, 54, 54);
    color: white;
  }

  .header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-bottom: -5px;
    margin-left: -230px;
  }
  .header-img > img {
    height: 150px;
    width: 150px;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 45, 45);
    height: 100%;
    width: 60%;
    border-radius: 20px;
    padding: 40px 0px;
    font-weight: 500;
  }
  .right-side {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }

  .btn {
    display: none;
  }
  footer {
    height: 640px;
    width: 100%;
    background-color: rgb(44, 43, 43);
    color: white;
    padding: 100px 100px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 16px;
  }
  footer > h1 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 24px;
  }
  .social-icons {
    margin-top: 40px;
    visibility: visible;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .social-icons > a {
    text-decoration: none;
    color: white;
  }
}
